$primary-background: #343434;
$secondary-background: #212121;
$third-background: #292929;

$white-color: #E9E9E9;
$altogrey-color: #D9D9D9;
$grey-color: #A8A8A8;

$accent-color: #98FF98;
$accent-tint1: #B7FFB7;
$accent-shade1: #7ACC7A;

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;