.accent-btn {
    background-color: $primary-background;
    font-weight: bold;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid $accent-color;
}

.accent-btn {
    color: $accent-color;
}

.accent-btn:hover {
    background-color: $accent-color;
    transition: 0.3s ease-in;
    color: $secondary-background;
    border: transparent;
}
