.nav-icon img {
    height: 35px;
    width: 35px;
}

.navbar-nav .nav-item .nav-icon {
    display: flex;
    flex-direction: row;
}

.nav-icon-span {
    margin-top: 5px;
    margin-left: 10px;
    color: $altogrey-color;
}

.nav-logo {
    height: 30px;
    width: auto;
}