body {
    background-color: $primary-background;
    min-height: 100vh;
    margin: 0;
}

.inner {
    height: 400px;
    width: 400px;
    background: $third-background;
    border-radius: 200px;
    position: relative;
    top: 25px;
}

.avatar-img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    position: absolute;
    top: 95px;
    left: 80px;
}

.intro-margin-lg {
    margin-top: 125px;
    align-items: center;
}

#home-intro {
    background-color: $secondary-background;
}

.intro-paragraph-container {
    width: 90%;
    height: fit-content;
}

.intro-testimonials-container {
    background-color: $primary-background;
    padding: 20px 15px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}