body {
    background-color: $primary-background;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.inner {
    height: 400px;
    width: 400px;
    background: $third-background;
    border-radius: 200px;
    position: relative;
    top: 25px;
}

.avatar-img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    position: absolute;
    top: 95px;
    left: 80px;
}

.intro-margin-lg {
    margin-top: 125px;
    align-items: center;
}

#home-intro {
    background-color: $secondary-background;
}

.intro-paragraph-container {
    width: 90%;
    height: fit-content;
}

.intro-testimonials-container {
    background-color: $primary-background;
    padding: 20px 15px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

.width-90 {
    width: 90%;
}

.projects-hr {
    margin: 2rem 0;
    color: $grey-color;
}

hr:not([size]) {
    height: 1px;
}

hr {
    background-color: currentColor;
    border-top: 0;
}

.projects-container {
    width: 80%;
}

#projects-main {
    background-color: $secondary-background;
}

.project-image {
    border: 1px solid $grey-color;
    border-radius: 10px;
    width: 90%;
    height: auto;
}

.all-but-footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .inner {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        top: 30px;
        left: 20px;
    }
    .avatar-img {
        height: 150px;
        width: 150px;
        border-radius: 75px;
        top: 50px;
        left: 40px;
    }
    .intro-margin-lg {
        margin-top: 40px;
    }
    #home-intro {
        padding-bottom: 50px;
    }
    .content-header-h1 {
        font-size: 32px !important;
    }
    .content-heading-h2 {
        font-size: 32px !important;
    }
    .content-subheader-h2 {
        font-size: 24px !important;
    }
    .project-heading-h2 {
        font-size: 32px !important;
    }
    .navbar-links {
        margin-left: 0 !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .project-image {
        width: 100%;
        margin-bottom: 50px !important;
    }
}

@media screen and (max-width: 767px) {
    .avatar-col {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        padding-right: 50px;
    }
    .intro-margin-lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-index-wrapper {
        margin-top: 1rem !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
    }
    .column-order-fix {
        flex-direction: column;
    }
    .skills-icon {
        height: 50px !important;
        width: 50px !important;
    }
    .home-skills {
        padding-left: 15px;
        padding-right: 15px;
    }
    .width-90 {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .sm-row-col  {
        flex-direction: column;
    }
    .project-image {
        margin-top: 10px;
    }
    .projects-header span {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 400px) {
    .project-heading-h2 {
        font-size: 24px !important;
    }
}
