.altogrey {
    color: $altogrey-color;
}

.grey {
    color: $grey-color;
}

.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.content-heading-h2 {
    font-family: $primary-font;
    font-size: 36px;
    color: $white-color;
}