.altogrey {
    color: $altogrey-color;
}

.grey {
    color: $grey-color !important;
}

.white {
    color: $white-color !important;
}

.primary-font {
    font-family: $primary-font;
    color: $white-color;
}

.secondary-font {
    font-family: $secondary-font;
    color: $white-color;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.content-heading-h2 {
    font-family: $primary-font;
    font-size: 36px;
    color: $white-color;
}

.number-fs {
    font-size: 54px;
}

.text-fs {
    font-size: 16px;
    color: $grey-color;
}

.reg-link p {
    text-decoration: underline;
    color: $grey-color;
}

.reg-link p:hover {
    color: $accent-color;
    transition: 0.2s ease-in;
}

.fs-sm {
    font-size: 14px;
}

.projects-header span {
    font-size: 54px;
}